name: Deploy the Backend
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -name: Checkout repository
       uses: actions/checkout@v3

      -name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      -name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile.web
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/todo-web:{{ github.sha }}
          build-args: |
            DATABASE_URL=${{ secrets.DATABASE_URL }}